.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-header,
.table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1px;
}

.column {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.nestedcolumn {
  flex: 2;
  cursor: pointer;
  text-align: center;
}
.nestednestedcolumn {
  flex: 3;
  cursor: pointer;
  text-align: center;
}

.column:hover {
  background-color: #aaaaaa;
}

.machine-name {
  background-color: #9fd8ff;
  flex: 1; /* Takes 1/3rd of the table */
}

.events {
  background-color: #ffe591;
  flex: 2; /* Takes 2/3rd of the table */
}

.parameters {
  background-color: #a5e19e;
  flex: 1; /* Takes 1/3rd of the table */
}

@media (max-width: 600px) {
  .column {
    font-size: 12px;
  }
}
